<!DOCTYPE html>
<html>
  <head>
    <title>用户详情</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/info.css">
  </head>
  <body>
    <div id="exit"><a href="/"><button type="button">退出</button></a></div>
    <div id="info">
      <h1>用户详情</h1>
      <div>
        <p>用户名：</p>
        <p>学号：</p>
        <p>邮箱：</p>
        <p>电话：</p>
      </div>
    </div>
    <script type="text/javascript" src="../public/javascripts/info.js"></script>
  </body>
</html>