body {
	text-align: center;
	background-image: url(/images/preview.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#info {
	background-color: white;
	margin: auto;
	margin-top: 200px;
	width: 400px;
	padding: 30px;
}
#exit {
	width: 100px;
	margin: auto 0 auto auto;
}
button {
	font-size: 2em;
	width: 100px;
	border: none;
	color: white;
	background-color: rgb(3,155,229);
}