#main-signin {
	background-color: white;
	margin: auto;
	margin-top: 250px;
	width: 400px;
	padding: 25px;
}
#password,#username {
	font-size: 1em;
	width: 400px;
	height: 2em;
	line-height: 2em;
}
#info-signin {
	margin-bottom: 1em;
	font-size: 2em;
	text-align: center;
}
.error {
	color: red;
	height:1.5em;
	text-align: left;
}
#submit {
	color: rgba(0,0,0,0.12);
	background-color: rgba(0,0,0,0.12);
	border: none;
	font-size: 1.5em;
	width: 170px;
	margin-right: 15px;
}
#submit.submitenable {
	color: white;
	background-color: rgb(3,155,229);
}
#signup {
	color: white;
	background-color: rgb(3,155,229);
	border: none;
	font-size: 1.5em;
	width: 170px;
	margin-left: 15px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}