body {
	text-align: center;
}
#result {
	height :20px;
}
.wall-show {
	background-color: rgba(212,212,212,1);
	margin: 0px;
}
.gameFaild {
	background-color: red;
	margin: 0px;
}
#maze-container {
	width: 360px;
	margin: auto;
	background-color: white;
}
#top,#bottom{
	width: inherit;
	height: 50px;
}
#left,#middle,#right{
	width: 100px;
	height: 100px;
	display: inline-block;
	clear: both;
}
#left {
	margin-right: 30px;
}
#middle {
	position: relative;
	top: 30px;
}
#right {
	margin-left: 30px;
}
#item { margin-top: -4px; }
#start,#end {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
}
#start {
	background-color: green;
}
#end {
	background-color: blue;
	margin-left: 300px;
}
#bottom {
	margin-top: -1px;
}
#introduce {
	width: 600px;
	text-align: left;
	margin: auto;
}
#showWall {
	width: 100px;
	height: 30px;
	margin: auto;
}
.curP {
	cursor: pointer;
}